/* Página Inteira */

* {
    margin: 0;
    padding: 0;
}

/* NavBar */

nav {
    display: flex;
    align-items: center;
    background: #78ceff;
    height: 10vh;
    justify-content: space-between;
}

.logo-nav {
    display: flex;
    align-items: left;
    margin-left: 15px;
}

a {
    color: #424242;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 10px;
}

a:hover {
    opacity: 0.7;
}


.logo-nav ul {
    list-style: none;
    display: flex;
}

.logo-div {
    margin-top: 10px;
    margin-left: 20px;
}

.logo-text {
    font-family: 'Kumar One', serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.logo-text a {
    margin-top: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-right: 100px;
}

.nav-list li {
    font-family: 'Norwester', sans-serif;
    letter-spacing: 3px;
    margin-left: 32px;
    font-size: 18px;
}
.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 4.55px solid #424242;
    cursor: pointer;
    width: 50px;
}

.hamburguer::before, .hamburguer::after {
    content: " ";
    display: block;
    width: 50px;
    height: 4.55px;
    background: #424242;
    margin-top: 5px;
}

/* Lupa */

.search-box {
    margin:0;
    margin-bottom: 80x;
    margin-left: 350x;
    background: #bfbebe5f;
    height: 50px;
    width: 500px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-text {
    background: none;
    border: 0;
    font-size: 16px;
    width: 600px;
    height: 50px;
    outline: 0;
    padding: 0;
    margin-left: 20px;
}

.search-button img {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}


/* Body */

body {
    background: #ecf0f1;
    background-size: cover;
}

h1 {
    font-family: 'Norwester', sans-serif;
    font-size: 50px;
    color:  #424242;
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Main */

main{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    color:  #424242;
    text-align: center;
}

/* Hover Produtos */

main:has(li:hover) li:not(:hover) {
    opacity: .6;
}


/* Produtos */

.products img {
    width: 200px;
    height: 200px;
    border: 3px solid #000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.646);
    border-radius: 20%;
    cursor: pointer;
}

.products {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.products li {
    margin-top: 20px;
    margin-left: 30px;
}

.products  p {
    display: none;
}

h2 {
    text-align: center;
}


/* Footer */


footer {
    background: #78ceff;
    height: 8vh;
}

.footer-list {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1030px) {
    .logo-text {
        display: none;
    }
}

@media screen and (max-width: 615px) {
    .hamburguer {
        display: block;
        margin-right: 20px;
        z-index: 1;
    }
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #78ceff;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        transition: 1s ease-out;
        clip-path: circle(100px at 90% -15%);
        pointer-events: none;
    }
     .nav-list.active {
        clip-path: circle(1600px at 90% -15%);
        pointer-events: all;
    }
    .nav-list.active a {
        font-size: 50px;
    }
    .footer-list {
        font-size: 10px;
    }
    .search-box {
        width: 400px;
    }
}

@media screen and (max-width: 470px) {
    .nav-list.active a {
        font-size: 30px;
    }
    .footer-list {
        font-size: 8px;
    }
    .search-box {
        width: 300px;
    }
}

@media screen and (max-width: 390px) {
    .footer-list {
        font-size: 8px;
    }
    .search-box {
        width: 150px;
    }
    .search-box input{
        width: 100px;
    }
    .search-box img {
        display: none;
    }
    .products li {
        margin: 0px;
        margin-top: 10px;
    }
}